h2{
  color: black;
  background-color: #C9A0DC;
  text-align: center;
}
h1{
color: black;
background-color:#A2ADD0; 
}
.anna{
	border:1px soild #c39797;
}
h3{
	color: black;
background-color:#B3DCA0; 
}
.dikomu{
	color:blue!important;
}
.lol{
	color: blue!important;
	font size: 30px;
	text-align: center;
}
.textmu{
	background-color:#C6E2FF;

}