h2{
  color: black;
  background-color: #C9A0DC;
  text-align: center;
}
h1{
color: black;
background-color:#A2ADD0; 
}
.anna{
	border:1px soild #c39797;
}
h3{
	color: black;
background-color:#B3DCA0; 
}
